$dropdown-content-w: 20rem; //16*20 =320
$dropdown-z: 999;

// .by-dropdown {
//   position: relative;
// }
.by-dropdown_content {
  position: relative;
  display: none;
  width: 100%;
  left: 0;
  background-color: darken($color-black, 2%);
  z-index: $dropdown-z;
}
.by-dropdown_content.active {
  position: absolute;
  display: block;
}
.by-dropdown_content--right {
  left: auto;
  right: 0;
}

@media #{$breakpoint--not-small} {
  .by-dropdown {
    position: relative;
  }
  .by-dropdown_content {
    // left: auto;
    width: $dropdown-content-w;
  }
}