body {
  background-color: $color-buttery;
  color: $color-buttery-inverse;
}

img {
  max-width: 100%;
}

label {
  font-size: 0.625em;
  font-weight: 400;
  text-transform: uppercase;
}

// Material icons override
.material-icons {
  font-size: 1em;
}
