// var
$base--color-bg: $color-black;
$base--color-text: $color-white;

body {
  background-color: $base--color-bg;
  color: $base--color-text;
}

// main header
.by-header {
  font-size: 1em;
  background-color: lighten($color-black, 2%);
}

.by-header_left {
  float: left;
}
.by-header_right {
  float: right;
}

// dropdown
$dropdown-content-w: 20rem; //16*20 =320
$dropdown-z: 999;

// .by-dropdown {
//   position: relative;
// }
.by-dropdown_content {
  position: relative;
  display: none;
  width: 100%;
  left: 0;
  background-color: darken($color-black, 2%);
  z-index: $dropdown-z;
}
.by-dropdown_content.active {
  position: absolute;
  display: block;
}

@media #{$breakpoint--not-small} {
  .by-dropdown {
    position: relative;
  }
  .by-dropdown_content {
    left: auto;
    width: $dropdown-content-w;
  }
}