// var
$btn--font-family: $font-family-sans;
$btn--color-primary: $color-buttery;
$btn--color-secondary: $color-gray;

// buttons
.by-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  line-height: 1;
  text-transform: uppercase;
  padding: 1em 1.777em;
  margin: 0;
  vertical-align: middle;
  height: auto;
  border: solid 2px;
  border-radius: 2px;
  font-family: $btn--font-family;
  font-size: .75em;
  font-weight: 600;
  letter-spacing: 0.2em;
  outline: 0;
  transition: opacity 0.2s linear;
  text-align: center;
  &,
  &:visited,
  &:hover {
    color: $color-white;
    opacity: 1;
  }
}

.by-btn.focus,
.by-btn:focus {
  // box-shadow: 0 0 0 2px $color-black, 0 0 0 4px transparentize($btn--color-primary, 0.3);
}

.by-btn.active,
.by-btn:active {
  opacity: 0.7;
}

.by-btn.disabled,
.by-btn[disabled] {

  &,
  &:hover,
  &:focus,
  &:active {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

// primary
.by-btn--buttery {
  border-color: $color-buttery;
  color: $color-white !important; //overwrite links
}

.by-btn--buttery.hover,
.by-btn--buttery:hover {
  color: $color-buttery !important; //overwrite links
}

// secondary
.by-btn--gray {
  border-color: $color-gray;
  color: $color-white !important; //overwrite links
}

.by-btn--gray.hover,
.by-btn--gray:hover {
  color: $color-gray !important; //overwrite links
}

