// var
$type--color-text: $color-white;
$type--color-link: $color-buttery;

$type--ratio: 1.333;
$type--base: $font-size-base; // 16px most browser default

$type--0: 0.75em;
$type--1: $type--base;
$type--2: 1.333em;
$type--3: 1.777em;
$type--4: 2.369em;
$type--5: 3.157em;



body {
  font-family: $font-family-sans;
  font-size: 100%; // 16px most browser default
}

// size
// ratio: 1.333
// base: 16px
.f0 {
  font-size: $type--0;
}
.f1 {
  font-size: $type--1;
}
.f2 {
  font-size: $type--2;
}
.f3 {
  font-size: $type--3;
}
.f4 {
  font-size: $type--4;
}
.f5 {
  font-size: $type--5;
}

// link
a {
  color: $type--color-link;
  transition: color .2s linear;
  outline: 0;
}
a:visited {
  color: darken($type--color-link, 20%);
}
a:focus,
a:hover {
  opacity: .5;
}

// headings
h1,.h1 {
  font-family: $font-family-sans;
  font-size: $type--5;
  line-height: $type--ratio;
  font-weight: 500;
}
h3,.h3 {
  font-family: $font-family-sans;
  font-size: $type--3;
  line-height: $type--ratio;
  font-weight: 500;
}

/*
  TEXT ALIGN
*/

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

@media #{$breakpoint--not-small} {
  .tl-ns  { text-align: left; }
  .tr-ns  { text-align: right; }
  .tc-ns  { text-align: center; }
  .tj-ns  { text-align: justify; }
}

@media #{$breakpoint--medium} {
  .tl-m  { text-align: left; }
  .tr-m  { text-align: right; }
  .tc-m  { text-align: center; }
  .tj-m  { text-align: justify; }
}

@media #{$breakpoint--large} {
  .tl-l  { text-align: left; }
  .tr-l  { text-align: right; }
  .tc-l  { text-align: center; }
  .tj-l  { text-align: justify; }
}