// Colors
$color-buttery: #FAFF00;
$color-black: #2b2b2b;
$color-white: #F4F4F4;

// Types
$font-family-sans: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
$font-size-base: 1rem;

// Breakpoints
$breakpoint--not-small: "screen and (min-width: 30em)";
$breakpoint--medium: "screen and (min-width: 30em) and (max-width: 60em)";
$breakpoint--large: "screen and (min-width: 60em)";